/* обнуляємо стилі */
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

    background-color: #fff;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.wrapper {
    padding: 32px 200px 0 200px;
}
header {
    margin-bottom: 100px;
}

.conteiner {
}
.navigation {
}
.logo {
    display: inline;
}
.logo-img {
    width: 100%;
    max-width: 121px;
    margin-right: 30px;
}

.picture-1 {
    margin-bottom: 30px;
}
.picture-1 picture img {
    margin-bottom: 20px;
}
.picture-1-img {
    border-radius: 33px;
}

.picture-2 {
    display: inline;
}
.picture-2-icon {
    margin-right: 30px;
}
.picture-3 {
    margin-bottom: 30px;
}

.picture-4 {
    margin-bottom: 30px;
    border-radius: 33px;
}
.picture-4 img {
    margin-bottom: 30px;
}

.practic {
    display: inline-block;
    font-size: 0;
    margin: -20px;
}

.item {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 100%;
}
.item img{
    margin-bottom: 5px;
}
.item p {
    font-size: 20px;
}
.pict-1 {
    max-width: 385px;
    max-height: 477px;
}

.pict-2 {
    max-width: 368px;
    min-height: 368px;
}
.pict-3 {
    max-width: 362px;
    min-height: 477px;
}


.header__conteiner {
    padding: 30px 0;
}
.header__logo {
}
.logo {
}
