/* обнуляємо стилі */
@import url("reset.css");

/* [class*='menu']{
	text-transform: uppercase;
} */
.header{
	text-transform: uppercase;
}

h1{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 96px;
}

.hero__content *:not(.text-desc, .text-desc *){
	text-transform: uppercase;
}
.product-card h3{
	font-weight: 800;
	text-transform: uppercase;
}

.trusted-by__title{
	text-transform: uppercase;
}